.detailScreen__info {
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.profileScreen__body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
}


.profileScreen__details>h2 {
    background-color: gray;
    padding: 15px;
    font-size: 20px;
    padding-left: 20px;
}

.detailScreen__details {
    flex-wrap: wrap;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 5px;
}

.overview {
    font-size: 1.25rem;
    font-weight: 700;
}

.overview__text {
    font-size: 1.05rem;
    margin-top: 5px;
}

.detailScreen__rating {
    margin-top: 25px;
}

.rating {
    font-size: 1.25rem;
    font-weight: 700;
}

.detailScreen__date {
    margin-top: 25px;
}

.date {
    font-size: 1.25rem;
    font-weight: 700;
}

.text {
    margin-left: 2px;
    margin-right: 5px;
    border-style: ridge;
    border: 1px solid white;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 10px;
    color: black;
    background-color: white;
}

.detailScreen__genres {
    margin-top: 25px;
}

.genres {
    font-size: 1.25rem;
    font-weight: 700;
}

.detailScreen__genre {
    margin-left: 2px;
    margin-right: 5px;
    border-style: ridge;
    border: 1px solid white;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 10px;
    color: black;
    background-color: white;
}